/* This is Universal section  */
* {
    margin: 0;
    padding: 0;
}

/* Universal section End  */

/* This is Navbar section  */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: auto;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
}

nav .logo h3 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FF42A5;
}

nav .logo .amer {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navigator-all {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navigator-add {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    gap: 15px;


}

.navigator-add p {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;

}

.youtube-icon {
    color: red;
}

.navigator-icon {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 20px;
}

.navigator p {
    padding: 10px;
    margin-left: 20px;
}

/* Navbar section end  */

/* This is banner section  */



/* Banner section end  */

.banner-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-text{
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    
}

.banner-text h3 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text p {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.banner-text .sign-in {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    margin-right: 20px;
}

.banner-text button {
    margin-top: 20px;
}

.banner-text .Go-Rogue {
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    color: #fff;
    font-weight: bold;
    border: none;
}

/* Online Game section start  */

.online-game {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.online-game h2 {
    justify-content: center;
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-game p {
    justify-content: center;
    text-align: center;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.online-game .online-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 50px;
}

.online-game .online-img img {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

/* .online-game .img-desc {
    justify-content: center;
    align-items: center;


} */

/* .online-game .img-desc p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 324px;
    text-align: left;

} */
.online-img img:hover{
    background-color: #000700;
    opacity: 50%;
    color: #000700; 
}

/* Online Game Section End  */

/* Play Game Section start  */

.play-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 80px;
}

#play1 {
    width: 710px;
    height: 650px;
}

#play2 {
    width: 318px;
    height: 365px;
    position: relative;
    left: 600px;
    bottom: 250px;
}

.play-img {
    position: relative;
    left: 50px;
}

.play-game .play-text h3 {
    width: 426px;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    color: #C34FCF;
    position: relative;
    bottom: 300px;
    left: 80px;
    margin-right: 50px;
}

.play-game .play-text p {

    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    bottom: 300px;
    left: 80px;
    margin-right: 100px;
    /* 166.667% */
}

/* Play Game Section End  */


/* This Is Game Product section  */
.gmae-product-item{
    background-color: #FFF9FC;
    width: 100%;
    height: auto;
    padding: 30px;

}
.product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #FFF9FC;
}

.product .p1 {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    margin-left: 20px;
}

.p1 p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.p1 img {
    width: 60px;
    height: 60px;
}

.product2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: #FFF9FC;
}

.product2 .p1 {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    margin-left: 20px;
}

.p1:hover {
    border: 2px solid #FF42A5;
}

/* Game Product section End  */

/* This is Footer Section  */
footer {
    width: 100%;
    height: auto;
    background-color: #0B0223;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .company {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .company img {
    width: 86.041px;
    height: 40px;
    margin-left: 10px;
}

footer .company h3 {
    font-family: Work Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FF42A5;
    margin-right: 10px;
    margin-left: 15px;
}

footer .list ul li {
    list-style: none;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50px;
    margin-top: 20px;
}

footer .list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer .foot-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: #FFF;
}

footer .foot-icon i {
    padding: 20px;
    font-size: 40px;
    margin-top: 20px;
}

footer .condition ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .condition ul li {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 30px;
    margin-top: 10px;
}

footer .copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Footer section END  */

/* RESPONSIVE SECTION  */
/* MOBILE VIEW  */
@media screen and (max-width:576px)  {
     nav{
        flex-direction: column-reverse;
     }
     .banner-section{
        flex-direction: column-reverse;
     }
     .banner-pic img{
        width: 400px;
        height: 25px;
        height: auto;
        align-items: center;
     }
     .banner-text{
        align-items: center;
        justify-content: center;
     }
     .online-game{
        flex-direction: column-reverse;
     }
}